#main{
  font-family: 'Bellota', cursive;
  background-color: lavender;
  margin: auto;
 max-width: 50%;
}


  img{
    
    width: 80%;
    height: auto;
    max-width: 80% ;
    position: relative;
    margin: auto;
    display: block;
  }